<header>
  <img
    src="https://avatars.githubusercontent.com/u/109478455?v=4"
    alt="pessoa Alta foto de perfil"
    width="130px"
    height="130px"
    loading="eager"
  >
  <h1>Guilherme Coutinho Silva</h1>
</header>

<aside>
  <div class="container">
     <p>Full Stack Developer | React | Nextjs | Angular | NestJs | NodeJs</p>
     <p>Riacho De Santana | Bahia | Brasil</p>
     <p>
       Estou na área de Desenvolvimento a mais de 2 anos. Sou apaixonado por tecnologia
       estou cursando Análise e Desenvolvimento de Sistemas(Unopar) e Cybersecurity(Fiap)
     </p>

     <nav>
      <ul>
        <li>
          <a href="assets/pdf/MeuNovoCurriculo.pdf" target="_blank" class="btn btn-primary">
            Download my cv
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/guilherme-coutinho-silva-95216a240/" target="_blank" class="btn btn-secondary">
            LinkedIn
          </a>
        </li>
      </ul>
     </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="logo whatsapp"
          width="22px"
          height="24px"
          >
          <figcaption>
            <a href="https://api.whatsapp.com/send?phone=5577999058038&text=Ol%c3%20Guilherme,%20preciso%20deum%20job!" target="_blank">
              <strong>Envie uma menssagem para: </strong>
              <p>WhatsApp: (77) 9 99058038</p>
            </a>
          </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="logo whatsapp"
          width="22px"
          height="24px"
          >
          <figcaption>
            <a href="mailto:guilhermesilba811@gmail.com" target="_blank">
              <strong>Envie um e-mail para: </strong>
              <p>guilhermesilba811&#64;gmail.com</p>
            </a>
          </figcaption>
      </figure>
    </section>

  </div>
</aside>
